<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fynso">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Esto permite que UrlLauncher detecte apps que abren http/https -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:name="io.flutter.app.FlutterApplication"
        tools:replace="android:name"
        android:label="fynso"
        android:icon="@mipmap/ic_launcher">
        <!-- demás configuración -->
    </application>

</manifest>
